.hamburger {
  position: absolute;
  right: 2px;
}

.hamburger div {
  width: 5vmin;
  height: 0.5vmin;
  border-radius: .25vmin;
  background-color: var(--dark-grey);
  margin: 1vmin;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  .hamburger {
    top: 5px;
  }
  
  .hamburger div {
    width: 8vmin;
    height: 1.2vmin;
    border-radius: .6vmin;
    margin: 1vmin;
    margin-bottom: 1.5vmin;
  }
}